@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@600&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
}

.datetime-strip{
    display: flex;
    background-color: #E84545;
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
    height: 60px;
}

.datetime-strip > ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: white;
}

.datetime-strip li{
    font-size: 19px;
    margin-top: 8px;
}

