.title{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}

.card-group{
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 100px;
    right: 100px;
    display: flex;
}

.card{
    
    min-width: 200px;
    margin: 50px;
}